.navbar-rockout a {
  color: white;
}

.text-copyright p {
  font-size: 15px;
  padding-top: 50px;
  margin-bottom: 0;
}

.carousel-inner .item img {
    overflow-y: hidden;
    height: 500px;
    margin: 0 auto;
}

.carousel-inner .item h3 {
    text-shadow: 2px 1px 1px #000;
    cursor: pointer;
}

#events.content-section {
    padding-top: 80px;
}

.search-result {
    display: block;
    border: 1px;
    border-color: aquamarine;
    height: 400px;
    margin: 0 auto;
}

#calendar.content-section {
    padding-top: 150px;
}

.calendar-section .calendar-nav {
	margin-top: 10px;
}

.events-details-container {
	text-align: left;
}

.events-details-container .btn-back {
	margin-bottom: 10px;
}

.events-details-container .row .col-lg-3 {
	text-align: left;
}

.events-details-container .row .col-lg-3 {
	text-align: left;
}

.events-details-container .row .col-lg-3 h1 {
	color: #42DCA3;
}

.events-details-container .row .col-lg-9 {
	text-align: right;
}

.events-details-container .media-list-bands {
	margin-bottom: 10px;
}

.events-details-container .media-list-events img,
.events-details-container .media-list-bands img {
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.events-details-container p,
.events-details-container p {
	font-size: 14px;
	text-align: left;
	margin: 0;
}

.events-details-container img.media-show-event {
	max-width: 360px;
	margin-bottom: 5px;
}

.calendar-col {
	text-align: left;
}

.btn-primary {
	border: 1px solid #42DCA3;
	color: black;
	background-color: #42DCA3;
}

.btn-primary:hover,
.btn-primary:focus {
	border: 1px solid #B3F1DA;
	outline: none;
	color: black;
 	background-color: #B3F1DA;
}

.btn-group-vertical.btn-group-rotated .btn-month {
	transform: rotate(-90deg);
	margin-top: 0;
}

.btn-group-vertical.btn-group-rotated button.btn-lg.btn-month {
	margin-bottom: 1.6em;
}

.btn-group-vertical.btn-group-rotated button.btn-lg:first-of-type,
.btn-group-vertical.btn-group-rotated button.btn-lg:last-of-type {
	width: 2.55em;
	margin-left: auto;
	margin-right: auto;
}

.btn-group-vertical.btn-group-rotated button.btn-lg:first-of-type {
	margin-bottom: 0.8em;
}

.btn-group-vertical.btn-group-rotated button.btn-lg:last-of-type {
	margin-top: -0.75em;
}

/* Footer */
footer {
  padding-top: 220px;
}

.text-copyright {
  padding: 20px;
  margin-bottom: 0;
}

.text-contact p {
  padding: 10px;
}

.banner-social-buttons {
  padding-top: 20px;
}

/* Bands Section */
#bands {
  padding-top: 80px;
  padding-bottom: 50px;
}

.bands-section {
  margin-top: 0;
  height: 420px;
  padding-bottom: 200px;
}

.band-img img {
    border: 3px solid #ddd;
    margin-top: 5px;
    max-height: 160px;
    max-width: 180px;
}

.band-img img:hover {
  border: 3px solid #42DCA3;
}

.vertical-center .row {
  align-items: center;
  display: flex;
}

.col-centered {
    float: none;
    display: block;
    margin: 0 auto;
}

#load-band-info {
  text-align: left;
}

.band-img-info img {
  border: 3px solid #ddd;
    margin-top: 5px;
    max-height: 160px;
    max-width: 180px;
    align-content: middle;
}

.band-site {
  color: #42DCA3; 
}

.band-name {
    text-transform: uppercase;
    font-size: 18px;
    font-style: bold;
}