.navbar-rockout a {
  color: white;
}

.text-copyright p {
  font-size: 15px;
  padding-top: 50px;
  margin-bottom: 0;
}

.carousel-inner .item img {
    overflow-y: hidden;
    height: 500px;
    margin: 0 auto;
}

.carousel-inner .item h3 {
    text-shadow: 2px 1px 1px #000;
}

#events.content-section {
    padding-top: 80px;
}

#calendar.content-section {
    padding-top: 80px;
}

.calendar-col {
	text-align: left;
}

.btn-primary {
  border: 1px solid #42DCA3;
  color: black;
  background-color: #42DCA3;
}
.btn-primary:hover,
.btn-primary:focus {
  border: 1px solid #B3F1DA;
  outline: none;
  color: black;
  background-color: #B3F1DA;
}

.btn-group-vertical.btn-group-rotated .btn-month {
	transform: rotate(-90deg);
	margin-top: 0;
}

.btn-group-vertical.btn-group-rotated button.btn-lg.btn-month {
	margin-bottom: 1.6em;
}

.btn-group-vertical.btn-group-rotated button.btn-lg:first-of-type,
.btn-group-vertical.btn-group-rotated button.btn-lg:last-of-type {
	width: 2.55em;
	margin-left: auto;
	margin-right: auto;
}

.btn-group-vertical.btn-group-rotated button.btn-lg:first-of-type {
	margin-bottom: 0.8em;
}

.btn-group-vertical.btn-group-rotated button.btn-lg:last-of-type {
	margin-top: -0.75em;
}

/* Footer */
.text-copyright {
  padding: 20px;
  margin-bottom: 0;
}

.text-contact p {
  padding: 10px;
}

.banner-social-buttons {
  padding-top: 20px;
}

/* Bands Section */
.bands-section {
  margin: 0;
  height: 420px;
}

.band-img img {
    border: 1px solid #ddd;
    margin-top: 5px;
    max-height: 160px;
    max-width: 180px;
}