.navbar-rockout a {
  color: white;
}

.text-copyright p {
  font-size: 15px;
  padding-top: 50px;
  margin-bottom: 0;
}

.carousel-inner .item img {
    overflow-y: hidden;
    height: 500px;
    margin: 0 auto;
}

.carousel-inner .item h3 {
    text-shadow: 2px 1px 1px #000;
    cursor: pointer;
}

#events.content-section {
    padding-top: 80px;
}

#calendar.content-section {
    padding-top: 150px;
}

.calendar-section .calendar-nav {
	margin-top: 10px;
}

.events-details-container {
	text-align: left;
}

.events-details-container .btn-back {
	margin-bottom: 10px;
}

.events-details-container .row .col-lg-3 {
	text-align: left;
}

.events-details-container .row .col-lg-3 {
	text-align: left;
}

.events-details-container .row .col-lg-3 h1 {
	color: #42DCA3;
}

.events-details-container .row .col-lg-9 {
	text-align: right;
}

.events-details-container .media-list-bands {
	margin-bottom: 10px;
}

.events-details-container .media-list-events img,
.events-details-container .media-list-bands img {
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.events-details-container p,
.events-details-container p {
	font-size: 14px;
	text-align: left;
	margin: 0;
}

.events-details-container img.media-show-event {
	max-width: 360px;
	margin-bottom: 5px;
}

.calendar-col {
	text-align: left;
}

.btn-primary {
	border: 1px solid #42DCA3;
	color: black;
	background-color: #42DCA3;
}

.btn-primary:hover,
.btn-primary:focus {
	border: 1px solid #B3F1DA;
	outline: none;
	color: black;
 	background-color: #B3F1DA;
}

.btn-group-vertical.btn-group-rotated .btn-month {
	transform: rotate(-90deg);
	margin-top: 0;
}

.btn-group-vertical.btn-group-rotated button.btn-lg.btn-month {
	margin-bottom: 1.6em;
}

.btn-group-vertical.btn-group-rotated button.btn-lg:first-of-type,
.btn-group-vertical.btn-group-rotated button.btn-lg:last-of-type {
	width: 2.55em;
	margin-left: auto;
	margin-right: auto;
}

.btn-group-vertical.btn-group-rotated button.btn-lg:first-of-type {
	margin-bottom: 0.8em;
}

.btn-group-vertical.btn-group-rotated button.btn-lg:last-of-type {
	margin-top: -0.75em;
}